<ion-view view-title="Account">
  <ion-nav-buttons side="secondary">
    <!--
    <button class="button button-icon" ng-click="doSomething()"></button>
    -->
    <a class="button button-icon icon ion-chatboxes" href="#/tab/contacts"></a>&nbsp;&nbsp;
    <a class="button button-icon icon ion-gear-a" href="#/tab/settings"></a>&nbsp;&nbsp;
  </ion-nav-buttons>
  <ion-content class="padding">
   {{username}}({{userid}}) | {{value}} | {{type}}
    <ul class="list">
      <li class="item item-toggle">
        <a href="#/tab/settings">settings</a>
      </li>
    </ul>
  </ion-content>
</ion-view>
