<ion-view title="Settings">
  <ion-nav-buttons side="primary">
    <button class="button button-icon" ng-click="goBack()">
      <i class="ion-arrow-left-c"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item>
        <ion-toggle ng-model="settings.HTML5" 
                    ng-checked="settings.HTML5">
          HTML5
        </ion-toggle>
        <ion-toggle ng-model="settings.Javascript" 
                    ng-checked="settings.Javascript">
          Javascript
        </ion-toggle>
        <ion-toggle ng-model="settings.CSS3" 
                    ng-checked="settings.CSS3">
          CSS3
        </ion-toggle>
        <ion-toggle ng-model="settings.XHTML" 
                    ng-checked="settings.XHTML">
          XHTML
        </ion-toggle>
      </ion-item>
      <ion-item>
        <button class="button button-block button-positive" ng-click="doLogout()">Log out</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
